/* naviagtion */

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding:0px 15px;
}

/* home section  */
#home{
    margin-bottom: 130px;;
    height:370px;
    padding-left: 30px ;
    padding-right: 30px;
}
#home::before{
height:624px;
}
#home p{
    font-size: 17px;;
}
/* services section */

#services{
flex-direction: column;

}
#services .box{
    margin:5px 0px;
}

/* client section */
#client-section{
    height: 250px;;
}
#client-section::before{
    height:37.8%;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width:70px;
    height:70px;
}
/* contact us section */
/* footer */ 


/* utility classes */
.h-primary{
    font-size: 25px;;

}
.btn{
    font-size: 13px;
    padding: 3px 8px;;
}