/* css reset */ 
/* yhape star ka matlb hota hai sb ke liye apply hoga */
*{
    margin:0;
    padding:0;
}

/* css variables */
:root{
    --navbar-height:59px;

}


/* navigation bar */
#navbar{
    position: relative;
  display: flex;
  align-items: center;
  
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width:100%;
    opacity: 0.4;
    z-index: -1;
}
 
 /* navigation bar:logo  and images*/

 #logo{
    margin: 10px 34px;
 }
 #logo img{
    margin:3px 6px;
     height:40px;
     width: 40px;
 }
 /* navigation bar:list styling */

#navbar ul{
     display: flex;
 }

 
 #navbar ul li{
    
     list-style: none;            /* dot nikalne ke liye */
     font-size: 1.3rem;
 }
 #navbar ul li a{
    color:white;
     display: block;   /*by default inline hoti hai */
     padding:3px 22px;
     border-radius: 20px;
     text-decoration:none;  /*underline nikalne ke liye */
 }
 #navbar ul li a:hover{
    color:black;
     background-color: white;
    
 }

 /* home section */

 #home{
     height: 380px;
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     justify-content: center;
     align-items: center;
     margin-bottom: 100px;
 }


 /* background image lavnyakrta */
 #home::before{
    content: "";
    position: absolute;
    background:url('../img/2.jpeg') no-repeat center center/cover;    
    
    height: 561px;
    width:100%;
    z-index: -1;
    opacity: 4;
    
}

#hone h1{
    color:white;
    text-align: center;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    
}

/* services section */
#services{
    margin:34px;
    display:flex;
}
#services .box{
    background-color:rgb(211, 184, 184);
    margin:2px 10px;
    padding:5px;
    border-radius: 23px;
    border:2px solid brown;
}
#services .box .img1{
    border-radius: 400px;
    display: block;
    margin:auto;
   height:200px;
   
}


/* client section */
#client-section{
    height:344px;
}
#client-section::before{
content:"";
position:absolute;
background: url(../img/bg\ img4.jpeg) no-repeat center center/cover ;
width:100%;
height:50%;
z-index: -1;
opacity:0.4;
}
#clients{
    display:flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding:15px;
   
}
#clients img{
    height:100px;
    width: 100px;
    border-radius: 20px;
}

/* contact section */
.contact{
    margin-top: 14px;
}
.contact::before{
    content:" ";
    position: absolute;
    background: url("../img/contact.jpeg") no-repeat center center/cover;
    width:100%;
    height:64%;
    z-index: -1;
    opacity:0.7;
   
}


#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem
   
}
#contact-box form{
    width:40%;
}
#contact-box label{
    font-size:1.3rem;
}

#contact-box  input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    border:1px solid black;
}
footer{
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 15px;
}
/* utility classes */

.h-primary{
    font-size: 4rem;
    padding: 12px;
   
}
.h-secondary{
    font-size: 2.1rem;
    padding:12px;
}
 .btn{
     padding:6px 20px;
     border:2px solid white;
     background-color: brown;
     color:white;
     margin:17px;
     font-size:1.2rem;
     border-radius: 10px;
     cursor: pointer;
 }
 .center{
     text-align: center;
 }